    /*Variáveis*/
    :root {
        --bgSite: #f6f6f6;
        --bgCard: #ebe9ea;
        --white: #fff;
        --title: #181818;
        --text: #474747;
    }
    
    /*Reset*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    html,body {
        font-size: 62.5%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        
    }
    body {
        font-size: 1.6rem;
        background-color: var(--bgSite);
        height: auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    @font-face {
        font-family: 'Montserrat-Medium';
        src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Montserrat-SemiBold';
        src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Montserrat-Bold';
        src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    }

    /* TOPO */

    header .cupom{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            background-color: black;
           
    
}

    header .cupom p{
        color: var(--white);
        font-family: 'Montserrat-SemiBold';
    }

    header .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12vh;

    }

    header .titulo h1{
        font-family: 'Montserrat-Medium';
    }

    /* BANNER */

    section .imagem-principal{
        height: 75vh;
        position: relative;
      

    }

    section .imagem-principal .imagem{
        background-image: url("../image/wallpaper.jpeg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        filter: brightness(45%);
        height: 75vh;
        width: 100%;
    }

    section .imagem-principal .descricao-topo{
        position: absolute;
        top: 28%;
        left: 8%;
    }

    section .imagem-principal .descricao-topo h2{
        color: var(--white);
        margin-bottom: 12px;
        letter-spacing: 1px;
        font-family: 'Montserrat-SemiBold';
    }

    section .imagem-principal .descricao-topo p{
        width: 460px;
        color: var(--white);
        line-height: 28px;
        font-family: 'Montserrat-Medium';
        letter-spacing: 1px;
    }

    /* CATALÓGO DE TÊNIS  */

    main .conteudo-principal{
        
        height: auto;
        margin: 0 2rem;
    }

    main .conteudo-principal .texto-tenis{
        height: 28vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    main .conteudo-principal .texto-tenis h3{
        font-size: 2.6rem;
        font-family: 'Montserrat-Bold';
        margin-bottom: 1.2rem;
        height: 8vh;
        
    }

    main .conteudo-principal .texto-tenis p{
        font-family: 'Montserrat-Medium';
        text-align: center;
        font-size: 1.8rem;

    }


    main .conteudo-principal .catalogo{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns:  1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        row-gap: 80px;
        column-gap: 24px;
        
    }

    main .conteudo-principal .catalogo .tenis{
        width: 80%;
        border: none;
        border-radius: 8px;
        background-color: hsl(0, 0%, 87%); ;
        box-shadow: 2px 2px 8px hsl(0, 0%, 48%);
        cursor: pointer;
    }

    /* FOOTER */

    footer{
        position: static;
        
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        color: var(--white);
        font-family: 'Montserrat-Medium';
        margin-top: 4rem;
    }


    footer span{
        font-size: 1rem;
        margin-top: .4rem;
    }

    footer span a{
        color: yellow;
        font-size: 1rem;
    }


/* RESPONSIVIDADE */


@media only screen and (min-width:600px) and (max-width:768px){
   
   
    section .imagem-principal {
        height: 60vh;
    }

    section .imagem-principal .imagem {
        height: 60vh;
    }
    
    main .conteudo-principal {
        height: auto;
        
    }
    main .conteudo-principal .catalogo {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 120px;
        column-gap: 40px;
    }
    main .conteudo-principal .catalogo .tenis{
        width: auto;
        height: auto;
    }

    footer{
        margin-top: 5rem;
        
    }

}

@media only screen and (min-width:250px) and (max-width:599px){
   
    
    header .cupom {
        
        height: 18vh;
    }
    header .cupom p {
        text-align: center;
        font-size: .5rem;
        line-height: 22px;
    }
    header .titulo h1 {
        font-size: 2.6rem;
    }
    section .imagem-principal .descricao-topo h2 {
        
        font-size: 1.8rem;
    }

    section .imagem-principal .descricao-topo p {
        width: 250px; 
        line-height: 22px; 
        letter-spacing: 1px;
        font-size: 1rem;
    }
    section .imagem-principal {
        height: 55vh;
    }

    section .imagem-principal .imagem {
        height: 55vh;
    }
    main .conteudo-principal .texto-tenis {
        height: 32vh;
        margin-bottom: 2rem;
    }
    main .conteudo-principal .texto-tenis p {
     
        font-size: 1.4rem;
    }
    
    main .conteudo-principal {
        height: auto;
    }
    main .conteudo-principal .catalogo {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        row-gap: 100px;
       
    }

    footer {
    
    font-size: .8rem;
    }
  
   

}